*{
    margin:0;
    padding:0;
}
.move{
    display:none;
    transition: 3s;
}
.bye{
    display: block;
}
a{
    text-decoration: none;
}
.page-title {
     width:100%;
     height:50px;
     background-color: rgb(114, 180, 250);
     display: flex;
     justify-content: space-between;
}

.logo{
    display: inline-block;
    width:10%;
    background-image: url("rb_hacker_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo  a{
    width:100%;
    height:100%;
    position: absolute;
}

header{
    font-size: larger;
    color:rgb(255, 255, 255);
    font-style: oblique;
    margin: auto;
}

.nav-bar{
    height: 50px;
    width:20%;
    position: relative;
}

ul{
    display:flex;
    width:100%;
    height:100%;
    align-items: center;
    position: absolute;
}

li{
    justify-content: space-between;
    list-style: none;
    position: relative;
    margin:auto;
}

li::before{
    content: "";
    left:0;
    height:4px;
    background-color: white;
    width:0%;
    transition: 2s;
    bottom:-2px;
    position: absolute;
}

ul li:hover::before {
    width: 100%;
    transition: 2s;
    background-color: rgb(255, 0, 123);
}

.X{
    top:0;
    right:0;
    position: fixed;
}
.apps, .X{
    display: none;
}
main{
    width:100%;
    height:70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1cm;
}
.adver,.data{
    width:40%;
    height:70vh;
    position: relative;
    border:2px solid #000000;
    border-radius: 20px;
}
.data{
    border:none;
}
.ini{
    top:45%;
    left:0;
    padding:2px;
    position: absolute;
    z-index: 1;
}
.fin{
    padding:2px;
    top:45%;
    right:0;
    position: absolute;
    z-index: 1;
}
.fir-col{
    position: absolute;
    width:100%;
    height:100%;
    background:url("home.jpg");
    background-position: center;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.sec-col{
    position: absolute;
    width:100%;
    height:100%;
    background:url("rb_hacker_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.signup-info{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    flex-direction: column;
    position: absolute;
}

.signup-info div{
    margin-top: 15px;
    margin-bottom: 15px;
    
 }
 
.signup-info div input{
    margin-left: 10px;
    border:4px solid black;
    border-radius: 10px;
    height: 20px;
    padding: 5px;
 }
 label::before{
    content:"* ";
    color:red;
 
 }
 form button{
    border:1px solid black;
    width:100px;
    height:40px;
    border-radius: 20px;
    background-color: rgb(61, 150, 252);
    color:white;

 }


@media screen and (max-width: 768px){
    .close{
        display: none;
    }
    ul{
        flex-direction: column;
    }
    li{
        font-size: smaller;
    }
    .apps{
        float: right;
        display: block;
    }
    .move{
        display:none;
    }
    .bye{
        display: block;
    }

    .small-screen{
        margin-top: 4vh;
        display: flex;
        background-color: rgb(181, 251, 251);

    }
    main{
        flex-direction: column;
         height: 140vh;
    }
    .adver,.data{
        width:95%;
        height:50vh;
        position: relative;
    }
    .data{
        margin-top: 5vh;
        height:85vh;
    }

}
